
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--<center><h2 style="padding-top:160px;color:brown;">Check</h2></center>-->
<center><h3 style="padding-top:160px;color:brown; font-family:'Arial Rounded MT';text-align:center"> <button class="btn btn-danger">@Html.ActionLink("Check", "Check", "Admin", new { @style = "color:#fcf9fa;" })</button></h3></center>

<div class="col-lg-2 col-md-2 col-sm-2">
    @*<h3 style="color:#808080; font-family:'Arial Rounded MT';text-align:center"> <button class="btn btn-danger">@Html.ActionLink("Check Out", "checkout", "Home")</button></h3>*@



</div>

