@{
    ViewBag.Title = "About Us";
}
<!--<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>-->
<!--<p>Use this area to provide additional information.</p>-->
<center><p style="color:brown;font-size:40px;">About Us</p></center>

<br /><br /><br /><br />
<img style="height:340px;width:100%" src="../Images/aboutus2.jpg" alt="Second slide">
<br /><br /><br /><br />

<p style="font-size:medium;color:darkslategrey;text-decoration:wavy;font-family:'Times New Roman', Times, serif;padding-top:20px;">
    <b>'Happy Shopping'</b> is one of the most popular Electronics shop in Bangladesh where you get all kinds of gadgets,accessories etc.We try our best to provide all requirements according to customer's need. At present,we accept only 'Cash on Delivery'.
    We try to reach custromers' doorstep within 1-3 working days.Stay home & Enjoy Shopping.
</p>


<br /><br />
<marquee><h3 style="color:brown;">Thank You For Visiting Us</h3></marquee>

